# Modifies webapp_healthd.conf to allow React-Rails requests for /packs and /themes.

files:
  # Runs before `./10_bundle_install.sh`:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_nginx_modify.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe

      if ! grep -q "location[[:space:]]*/packs" /etc/nginx/conf.d/webapp_healthd.conf; then
        sed -i 's|\([[:space:]]*\)\(location[[:space:]]*/assets\)|\1location /packs { alias /var/app/current/public/packs; gzip_static on; gzip on; expires max; add_header Cache-Control public; }\n\n\1\2|' /etc/nginx/conf.d/webapp_healthd.conf
      fi

      if ! grep -q "location[[:space:]]*/themes" /etc/nginx/conf.d/webapp_healthd.conf; then
        sed -i 's|\([[:space:]]*\)\(location[[:space:]]*/assets\)|\1location /themes { alias /var/app/current/public/themes; gzip_static on; gzip on; expires max; add_header Cache-Control public; }\n\n\1\2|' /etc/nginx/conf.d/webapp_healthd.conf
      fi

container_commands:
  nginx_reload:
    command: "sudo service nginx reload"
